<!-- <app-radio-list (stationSelected)="onStationSelected($event)"></app-radio-list>
<app-radio-player [station]="selectedStation"></app-radio-player> -->

<div class="container-fluid">
  <div class="sidebar-header navbar navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarNav"
      aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="row">
    <!-- Sidebar -->
    <div class="mobile-hide col-md-3 bg-dark text-white sidebar">
      <input type="text" class="form-control mb-3" placeholder="Search here">
      <ul class="nav flex-column">
        <li class="nav-item" *ngFor="let category of categories">
          <a class="nav-link text-white" href="#">{{ category }}</a>
        </li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="col-md-9 main-content">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center py-2 border-bottom">
        <h1 class="h3">Radio Browser</h1>
        <div>
          <input type="text" class="form-control d-inline-block w-auto" placeholder="Search stations">
        </div>
      </div>

      <!-- Favorite Radios -->
      <div class="mt-3">
        <h5>FAVORITE RADIOS</h5>
        <div class="list-group">
          <div class="list-group-item" *ngIf="selectedStation">
            <h6 class="mb-1">{{ selectedStation.name }}</h6>
            <small>{{ selectedStation.country }}</small>
          </div>
          <div class="list-group-item" *ngFor="let station of stations" (click)="onStationSelected(station)">
            <h6 class="mb-1">{{ station.name }}</h6>
            <small>{{ station.country }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
